.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row:not(:last-child) {
  margin-bottom: 16px;
}

.jobs_main {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  height: 300px;
}

.jobs_main h1 {
  color: black;
  font-size: 30px;
  letter-spacing: 0.5em;
}

.jobs_main table {
  border-collapse: collapse;
}
.jobs_main table th {
  padding: 3px;
}
.jobs_main table td {
  padding: 4px;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  padding: 10px;

  align-items: center;
}

.flexColumn form {
  display: flex;
  flex-direction: column;
  padding: 10px;

  align-items: center;
}

.flexColumn form input {
  margin: 10px;
  width: 200px;
  height:20px;
}

.flexColumn form .inputGroup {
  display: flex;
  flex-direction: row;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.submitButton {
  margin: 10px;
  padding: 4px;
  width: 200px;
  cursor: pointer;
  font-size: 16px;
  background: lightgray;
  border-radius: 4px;
}

.submitButton:hover {
  background: rgb(50, 50, 50);
  color: white;
}
.flexColumn h2 {
  margin: 10px;
  font-size: 20px;
  font-weight: 800;
  padding: 10px;
  color: rgb(231, 151, 1);
}

.flexColumn form label {
  margin: 10px;
  font-size: 16px;
  font-weight: 800;
  color: rgb(9, 50, 185);
  width: 200px;
}

.trash {
  cursor:pointer;

}


.trash:hover {
  cursor:pointer;
  color:white;
}